* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
body {
    text-align: center;
    align-content: center;
}
button {
    font-size: 30px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    &:hover {
        background-color: rgb(211, 211, 211);
    }
}